<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="author" content="www.flux.cat" />
        <title>{% block title %}{{ 'frontend.head.title' | trans }}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite,less" '@mycss' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block top %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        {{ knp_menu_render('main') }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        {{ 'frontend.top.right.l1' | trans }}<br>
                        {{ 'frontend.top.right.l2' | trans }}<br>
                        {{ 'frontend.top.right.l3' | trans }}
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block bottom %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            {{ knp_menu_render('bottom') }}
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            {% block bottom_contact_form %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>{{ 'frontend.form.title' | trans }}</h5>
                                            {{ form(form) }}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <ul class="list-unstyled">
                                <li><a href="https://www.facebook.com/asbelesteve" target="_blank">facebook</a></li>
                                <li><a href="https://vimeo.com/asbelesteve" target="_blank">vimeo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            {% javascripts '@myjs' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block google_analytics %}
            {% if google_analytics_enabled %}
                <script type="text/javascript">
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', '{{ google_analytics_account }}', 'auto'); ga('send', 'pageview');
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
