{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {% if content.imageName %}
                <img class="img-responsive" src="{{ vich_uploader_asset(content, 'imageFile') | imagine_filter('700x200') }}" alt="{{ content.title }} thumbnail">
            {% endif %}
            <span>{{ content.urlVimeo }}</span>
            <h2>{{ content.title }}</h2>
            <h4>{{ content.categories | join(', ') }}</h4>
            <h4>{{ content.year }}</h4>
            <p>{{ content.description | raw }}</p>
        </div>
    </div>
{% endblock %}
