{% extends ':Frontend:layout.html.twig' %}

{% block title %}{{ content.title }} · {{ parent() }}{% endblock %}

{% block body_class %}container{% endblock %}

{% block body %}
    <div class="row">
        <div class="row-height">
            <div class="my-padding col-height {% if content.images | length == 0 %}col-sm-12{% else %}col-sm-8 right-bordered{% endif %}">
                {% if content.vimeoId > 1 %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ content.vimeoId }}?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                {% elseif content.imageName %}
                    <img class="img-responsive" src="{{ vich_uploader_asset(content, 'imageFile') | imagine_filter('1200xY') }}" alt="{{ content.title }} thumbnail">
                {% endif %}
                <h2>{{ content.title }}</h2>
                <h4 class="c-grey">{{ content.categories | join(', ') }}</h4>
                <h4 class="c-grey">{{ content.year }}</h4>
                <p>{{ content.description | raw }}</p>
            </div>
            {% if content.images | length > 0 %}
                <div class="my-padding col-sm-4 col-height">
                    {% for image in content.images if image.imageName %}
                        <div class="row gap-bottom">
                            <div class="col-xs-12">
                                <img class="img-responsive" src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('700xY') }}" alt="thumbnail {{ loop.index }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
