<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="author" content="www.flux.cat" />
        <title>{% block title %}{{ 'frontend.head.title' | trans }}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite,less" '@mycss' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block top %}
            <div class="container-fluid bottom-bordered">
                <div class="row">
                    <div class="row-height">
                        <div class="col-sm-5 right-bordered my-padding col-height">
                            {{ knp_menu_render('main') }}
                        </div>
                        <div class="col-sm-4 right-bordered my-padding col-height">
                            <br>
                        </div>
                        <div class="col-sm-3 my-padding c-grey col-height">
                            {{ 'frontend.top.right.l1' | trans }}<br>
                            {{ 'frontend.top.right.l2' | trans }}<br>
                            {{ 'frontend.top.right.l3' | trans }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% if app.session.flashbag.has('notice') %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 my-padding">
                        {% for flash_message in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message | trans }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="my-body {% block body_class %}container-fluid{% endblock %}">
            {% block body %}{% endblock %}
        </div>
        {% block bottom %}
            <footer>
                <div class="container-fluid top-bordered">
                    <div class="row">
                        <div class="row-height">
                            <div class="col-sm-4 right-bordered my-padding col-height">
                                {{ knp_menu_render('bottom') }}
                            </div>
                            <div class="col-sm-5 right-bordered contact-form-padding col-height">
                                {% block bottom_contact_form %}
                                    {{ render(controller('AppBundle:Frontend/Web:contactForm', {request: app.request})) }}
                                {% endblock %}
                            </div>
                            <div class="col-sm-3 my-padding col-height">
                                {{ knp_menu_render('socialnetworks') }}
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            {% javascripts '@myjs' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var errorNode = jQuery(".has-error");
                    var envelopeNode = jQuery(".fa-paper-plane-o");
                    if (errorNode.length > 0) {
                        jQuery('html,body').animate({scrollTop: errorNode.offset().top - 100}, "slow");
                    }
                    if (envelopeNode.length > 0) {
                        jQuery('html,body').animate({scrollTop: envelopeNode.offset().top - 100}, "slow");
                    }
                });
            </script>
        {% endblock %}
        {% block google_analytics %}
            {% if google_analytics_enabled %}
                <script type="text/javascript">
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', '{{ google_analytics_account }}', 'auto'); ga('send', 'pageview');
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
